/* You can add global styles to this file, and also import other style files */
.add-more, .show-cart{
    float:right;
    margin-left:5px;
}
.badge{
    position:absolute;
    right:10px;
    top:10px;
    background:grey;
    border-radius: 10px;
    color:white;
    z-index:1;
}
.count-container{
    background:black;
    color:white;
    border-radius: 15px;
    padding:2px 10px;
}
.count-number{
    background:white;
    color:black;
    border-radius:4px;
    padding:1px 5px;
    font-weight:bold;
}
.shopping-container, .cart-container, .checkout-container, .header-container, .banking-container{
    margin:5px 10px;
}
.header-container{
    background: violet;
}
.banking-container{
    background: rgb(255, 138, 84);
}